MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=payment_db
MYSQL_USER=payment_user
MYSQL_PASSWORD=payment_pass
MYSQL_PORT=3307

RABBITMQ_USER=payment_user
RABBITMQ_PASSWORD=payment_pass
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672